<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">关于我们</li>
            <li class="breadcrumb-item active">图莳简介</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container">
        <img src="/images/about.jpg" width="100%" alt="">
        <br><br>
        <p>图莳数字于2018年在上海创立，致力于用数据的力量推动中国品牌成长。目前，图莳数字覆盖超过50亿日均流量，已为众多行业领导品牌提供互联网整合营销服务。</p>
        <p><b>“MIT”</b>是图莳数字的核心价值：</p>
        <p><b>M</b>代表Media媒体。聚合海量优质垂直媒体，与数百家头部移动和视频媒体达成深度合作，也是媒体程序化的重要合作伙伴。同时，保持对市场新锐媒体的密切关注，持续扩充优质上升期媒体资源，立志成为头部媒体资源方。
        </p>
        <p><b>I</b>代表Idea创意。深入分析品牌诉求，结合多维度标签，精准定位品牌调性，以高度贴合品牌营销需求的优质创意和内容运营，帮助品牌提升品牌资产，实现品牌塑造。</p>
        <p><b>T</b>代表Technology技术。以数据为基础，以精准人群购买、智能预算分配、精细化人群展示等基于大数据挖掘的营销技术与服务，通过智能化数据管理与分析，深度挖掘媒体流量价值，提升投放效果，为品牌投放保驾护航。
        </p>
        <br>
        <p><b>愿景：</b>用数据的力量推动中国品牌成长</p>
        <p><b>使命：</b>专注数字化广告，帮助优质的产品成为优秀的品牌</p>
        <p><b>价值观：</b>用价值回报客户，做长远且利他的业务</p>
    </div>
</div>