<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">平台产品</li>
            <li class="breadcrumb-item active">ADX广告交易平台</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container">
        <img src="/images/product/ADX.jpg" width="100%" alt="">
        <br><br>
        <h5><strong>ADX广告交易平台</strong></h5>
        <br>
        <p>图莳ADX广告交易平台主要面向移动媒体，为媒体提供一站式多层次的流量变现管理服务，最大化地增加媒体的广告填充率，提高绝对收益，帮助优质媒体更有效地拓展品牌广告客户资源。 </p>
        <p><b>图莳ADX优势</b></p>
        <p>海量广告资源，多重收益保障：对接40余家国内外主流DSP和广告联盟，汇聚海量广告主资源，使用不断改进的流量策略算法，使每一个流量充分竞价，将媒体广告的填充率及成交单价最大化。</p>
        <p>广告形式丰富：支持主流广告形式（API）及移动富媒体广告形式（SDK），支持从banner到原生各种丰富的广告形式。</p>
        <p>先进的广告管理功能：支持RTB和非RTB交易方式，充分保证买卖双方利益；支持根据竞价状态进行预测，动态调整RTB底价，优化每一个广告变现机会，实现收益最大化。</p>
        <p>精心筛选流量：可根据人群、地域、时间等信息定向，筛选需求方指定的流量，帮助需求方更有效地利用媒体资源。</p>
        <p>开放式API：支持与媒体端以API的方式对接流量，同时，支持IAB标准的openRTB 2.3协议，以及MMA中国移动广告程序化标准协议与需求端对接。</p>
        <p>可量身定制SDK包：提供功能强大的广告SDK包，同时支持为媒体个性化需求量身定制广告SDK包。</p>
        <p>合作激励机制：向与图莳ADX深度合作的媒体或媒体代理商提供多元化的激励措施，促进长期合作关系。</p>

    </div>
</div>