<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">关于我们</li>
            <li class="breadcrumb-item active">联系我们</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container">
        <img src="/images/about.jpg" width="100%" alt="">
        <br><br>
        <p>邮箱：sales@tushi.store</p>
        <p>电话：021-52550655</p>
        <img class="image-border" src="/images/qrcode.jpg">
    </div>
</div>