<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">平台产品</li>
            <li class="breadcrumb-item active">DSP程序化营销平台</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container">
        <img src="/images/product/DSP.jpg" width="100%" alt="">
        <br><br>
        <h5><strong>DSP程序化营销平台</strong></h5>
        <br>
        <p>图莳DSP是国内领先的程序化广告营销平台，致力于为广告主、代理商提供快速、高效的广告媒介及人群购买、智能预算分配、精准人群展示和基于大数据挖掘的营销体验与服务，从而达到广告投放的可控、品牌安全、高回报、高效率与高透明度。 </p>

        <p><b>图莳DSP优势</b></p>
        <p>行业的引领者：接入主流交易平台与供应端平台，包括谷歌、淘宝、百度、腾讯、新浪、盛大、秒针、InMobi、搜狐、爱奇艺、芒果、优酷等大量优质PC及移动媒体资源；支持移动、视频和富媒体广告资源的标准接入；领先的多渠道广告受众管理技术与归因模型，为全局分析广告受众提供有效的工具。 </p>

        <p>品牌受众购买市场的主导力量：服务4A媒介公司的主流第三方广告技术平台；广告主效果直达的首选交易系统；日均流量覆盖超过80亿次访问，50万家网站、15万家移动APP，上万小时的视频节目内容。 </p>

        <p>技术驱动的高效平台：灵活、多样的广告竞价算法；完善、标准化的API接口体系和数据对接能力；强大的媒体质量控制系统。</p>

        <p><b>图莳DSP主要功能</b></p>
        <p>支持IAB定义的四种标准媒介购买模式：支持程序化营销定义的开放式竞价、私有化市场、优选购买、程序化预定，满足广告主对优质广告流量资源的需求，从而达到品效合一。 </p>
        <p>总量控制：根据需求，控制每日投放总量，也可实时控制曝光、点击、转换的总效果量和日效果量。 </p>
        <p>受众分析与人群定向：依托图莳数据管理平台分析受众人群数据，设置用户人口、兴趣、行为属性标签，进行精准投放。 </p>
        <p>跨屏、跨渠道投放与频次控制：可满足广告主对各种广告资源的投放需求，渠道包括WEB网站、移动、视频网站、数字电视等，并可统一频控。 </p>
        <p>投放算法优化：算法基于点击率、转化率的统计模型，可根据广告主需求选择不同投放策略，如CPM 曝光优化策略、CPC 与CPA效果投放策略。 </p>
        <p>库存预估：便于用户随时查看库存，从而更好地进行库存预估，进而可以制定有效的广告投放策略。 </p>
        <p>报表支持：提供总媒体数据报表、广告投放数据报表、分渠道报表、库存预估报表、结案报表以及自定义报表等。 </p>
        <p>投放定向：支持地域、操作系统、手机机型、商圈、天气等各种维度的定向，满足广告主不同的投放需求。</p>

        <p><b>图莳DSP核心价值</b></p>
        <p>优质流量获取：针对日益严重的媒体流量作弊现象，不断升级流量防作弊算法，在此基础上，结合广告主的需求，优选优质的媒体资源。</p>
        <p>人群购买：通过挖掘、分析数据，对投放的人群做更精细的分析和判断。对标注人群进行清洗、聚类、扩维，进而生成足够清晰的人群画像，结合横向与纵向维度，对数据加以标识，并集成第三方数据，使数据的准确性得以验证，进而指导投放。 </p>
        <p>提升ROI：根据每个投放的不同需求使用最匹配的优化算法，从而达到广告主的广告投放衡量标准。 </p>
        <p>品牌安全：通过提供安全定向功能、优化分类算法，剔除不健康的流量，保证品牌安全。</p>

    </div>
</div>