<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">关于我们</li>
            <li class="breadcrumb-item active">加入我们</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container">
        <h4 style="color:#38a2f6;"><strong>大客户销售总监</strong></h4>
        <p><strong>岗位职责：</strong></p>
        <p>1、负责面向广告主销售公司DSP、 OTT、 OTV等程序化广告产品，独立有效地开发新客户市场，完成公司下达的销售任务；</p>
        <p>2、负责公司综艺项目，线下资源以及新媒体资源的推广及落实客户成交；</p>
        <p>3、承担销售指标，完成既定的业绩目标，维护现有直客客户合作关系，开拓新客户，保持业务的稳定增长；</p>
        <p>4、根据销售任务，制定中、短期销售计划，并定期汇报；</p>
        <p>5、能够挖掘客户的潜在需求，准确理解客户的广告需求，保证客户需求顺利实现。</p>
        <p><strong>任职要求： </strong></p>
        <p>1、从事广告销售2-3年以上经验，拥有丰富的直客资源；</p>
        <p>2、热爱销售工作，工作主动性强，有创业精神，有较强的创新能力；</p>
        <p>3、优秀的人际交往、沟通能力和销售技巧，能够独立地和广告客户沟通。</p>
        <p><strong>工作地点：上海</strong></p>
        <hr style="margin: 40px 0;">
        <h4 style="color:#38a2f6;"><strong> 媒体拓展经理/总监</strong></h4>
        <p><strong>岗位职责:</strong></p>
        <p>1、拓展移动端APP、WAP流量，谈判媒体直接接入ADX平台，跟进接试效果评估、维护及后续结算。</p>
        <p><strong>任职要求:</strong></p>
        <p>1、大专及以上学历，3-5年及以上相关工作经验，熟悉程序化购买；</p>
        <p>2、具备独立解决问题的能力，对于数据较高的敏感度，有良好的沟通协调统筹能力；</p>
        <p><strong>工作地点：上海</strong></p>
    </div>
</div>