<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">平台产品</li>
            <li class="breadcrumb-item active">OTT智能电视营销平台</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container">
        <img src="/images/product/OTT.jpg" width="100%" alt="">
        <br><br>
        <h5><strong>OTT智能电视营销平台</strong></h5>
        <br>
        <p>图莳OTT在智能电视端，针对家庭用户，以视觉效果极强的大屏广告吸引受众，帮助广告主展示品牌/产品信息。</p>

        <p><b>图莳OTT优势 </b></p>
        <p>聚焦优质人群：覆盖高学历、高收入、高消费层次的优质用户群体。</p>
        <p>品牌最大化曝光：智能电视屏以40-70寸为主，大屏展示广告易抓取用户眼球。</p>
        <p>广告展示效果佳：媒体环境优越、视听效果好，从而形成良好的广告展示。</p>

        <p><b>图莳OTT主要功能</b></p>
        <p>一站式投放：与内容提供方、牌照方、电视盒子、智能电视厂商合作，为品牌广告主提供一站式投放服务。</p>
        <p>媒体资源丰富：全面覆盖牌照方及硬件厂商，拥有丰富的媒体资源。</p>
        <p>多种定向：能够实现时间定向、地域定向、频次控制、厂商品牌定向、内容定向、人群定向、兴趣定向等多种定向方式。</p>
        <p>人群分析：覆盖高学历、高收入、高消费层次的优质用户群体，借助图莳数字的大数据积累，清晰解读用户，形成用户画像，进而更好地指导投放。</p>
        <p>客厅场景营销：基于智能电视“大屏幕”的优势，打造新的营销场景。</p>
        <p>支持第三方数据监测：与秒针、精硕、尼尔森等主流第三方监测公司合作，提供透明、专业、务实的投放数据报告。</p>

    </div>
</div>