<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">平台产品</li>
            <li class="breadcrumb-item active">OTV视频营销平台</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container">
        <img src="/images/product/OTV.jpg" width="100%" alt="">
        <br><br>
        <h5><strong>OTV视频营销平台</strong></h5>
        <br>
        <p>图莳OTV在PC和移动端，针对视频媒体，以展示性较强的视频广告吸引受众，帮助广告主提升品牌和产品知名度。</p>

        <p><b>图莳OTV优势</b></p>
        <p>接入丰富的流量资源：拥有优质视频媒体资源，全面接入主流视频媒体与Ad Exchange平台中的视频资源。当前，已接入腾讯、爱奇艺、搜狐、优酷、风行、芒果TV等视频媒体流量，以及灵集、万流客、mediamax、ACELINK、Tanx、百视通等Ad Exchange中的视频流量资源。</p>

        <p>支持流量返还：支持包括PDB在内多种交易模式下各流量方的不同流量返还比例。</p>

        <p>TA人群投放控制：在控量控频前提下，结合人群投放策略与算法，提高投放TA人群百分比。</p>

        <p>提升点击优化效果：运用跨终端优化技术，提升点击后的效果转化，以及TA浓度。</p>

        <p>视频广告形式多元：支持各种视频广告形式，以及VAST3.0标准，满足不同广告主的投放需求。</p>

        <p>与第三方平台密切合作：对接包括腾讯、秒针、TalkingData、尼尔森、精硕科技、艾瑞等在内的第三方数据平台，保障投放的准确性与公正性。</p>

        <p><b>图莳OTV主要功能</b></p>
        <p>程序化购买：支持主流流量PPB优选交易（Programmatic Premium Buying）与RTB实时竞价（Real Time Bidding） 方式针对人群开展视频媒体的程序化购买服务，同时，支持PDB预定交易（Programmatic Direct Buying）的程序化技术服务。</p>

        <p>跨媒体频控：通过数据管理平台收集的跨媒体TA人群数据，以及第三方平台人群数据的接入，帮助广告主增加目标人群的有效覆盖，同时，降低独立访客成本（CPUV）。 </p>

        <p>精准定向：运用人群定向、媒体定向、环境定向、设备定向、地域定向等多重定向方式，精准覆盖目标受众。</p>

        <p>人群精准补点提升TA覆盖：视频媒体人群重合度高，通过多种交易模式并行处理，如使用PPB与RTB模式捕捉人群，使用PDB模式投放在优质媒体，进行大曝光展现，从而实现目标人群有效覆盖。 </p>

        <p>降低广告投放成本：结合智能优化，提高TA到达率，进而降低广告投放成本。</p>

        <p>数据标签体系丰富：28项一级人群分类标签，200+项二级分类标签，3000+项的三级标签，助力视频广告投放效果。</p>


    </div>
</div>