
<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">合作伙伴</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="partner-detail-container">
        <img src="/images/partner.jpg" width="90%" alt="">
    </div>
</div>