<div class="bg-light-gray">
    <div class="wrap">
        <ol class="breadcrumb bg-light-gray">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">隐私政策</li>
        </ol>
    </div>
</div>
<div class="wrap">
    <div class="common-container" style="font-size: 0.8rem">
        <p>隐私权是您的重要权利。向我们提供您的个人信息是基于对我们的信任，相信我们会负责的态度对待您的个人信息。我们认为您提供的信息只能用于帮助我们为您提供更好的服务。因此，我们制定了图莳网上个人信息保密制度以保护您的个人信息。我们的个人信息保密制度摘要如下：
        </p>
        <p>我们收集哪类个人信息？</p>
        <p>通常，您能在匿名的状态下访问我们的网站并获取信息。在我们请求您提供有关信息之前，我们会解释这些信息的用途我们有些站点需要注册才能加入。在通常情况下，这类注册只要求您提供一个电子邮件地址和一些诸如您的工作，职务一类的基本信息。有时我们也会请您提供更多的信息。我们这样做是为了使我们更好的理解您的需求，以便向您提供有效的服务。我们站点收集的信息包括姓名，地址和电话号码。您有权随时决定不接受来自我们的任何资料。
        </p>
        <p>保护您的隐私</p>
        <p>我们将采取适当的步骤保护您的隐私。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的个人信息。除非根据法律或政府的强制性规定，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。但是，如果您要求我们提供特定客户支援服务或把一些物品送交给您，我们则需要把您的姓名和地址提供给第三者如运输公司。我们的网站将会提供第三者网站的链接。由于我们不能控制这些网站，所以我们建议您细阅这些第三者网站的个人信息保密制度。
        </p>
        <p>隐私权原则</p>
        <p>由于您的隐私权对我们而言是相当重要的，因此，公布这份隐私权声明的图莳网站会根据下列五项 原则管理涉及隐私的信息。</p>
        <p>原则1</p>
        <p>每当图莳网需要识别您的身份或与您联络时，会明确的询问所需的资料，即个人资料。一般而言，当您在网站上注册，要求提供特别服务，或是如参加奖金竞赛，便会被询问到这项资料。可能的话，图莳网会利用一些方法，确认您的个人资料的正确性与时效性。
        </p>
        <p>原则2</p>
        <p>图莳网站及其必要的服务伙伴使用您的个人资料来运作网站和服务，并且会通知您各项新的功能与服务，以及图莳网和其附属公司的各类产品。图莳网也会谨慎地挑选来自其他公司的产品或服务资料传送给您，通常是有关于站点本身的服务，但对作业并非必要（次要用途）
        </p>
        <p>原则3</p>
        <p>如果图莳网想要将个人资料用在次要用途上，图莳会提供您如何拒绝这项服务的说明。您可以依照图莳网寄给您的资料或促销信件上的说明，终止这些信件的发送。</p>
        <p>原则4</p>
        <p>图莳网也许会因法律要求公开个人资料，或者因善意确信这样的作法对于下列各项有其必要性：</p>
        <p>（1）符合法律公告或遵守适用于图莳站点的合法程序；</p>
        <p>（2）保护图莳网的用户之权利或财产；</p>
        <p>（3）在紧急的情况下，为了保护图莳及其用户之个人或公众安全。</p>
        <p>原则5</p>
        <p>任何时候如果您认为图莳没有遵守这些原则时，请利用电子邮件privacy@tushi.store 通知我们，我们会尽一切努力，请合理适当的范围内立即改善这个问题。</p>
        <p>Cookies的用途</p>
        <p>图莳网站有时会使用cookies以便我们知道哪些网站受欢迎，使您在访问我们的网站时得到更好的服务。cookies不会跟踪个人信息。来自图莳网站的cookies只能被图莳网站读取。如果您的浏览器被设置为拒绝cookies，您仍然能够访问我们的大多数网站。</p>
        
    </div>
</div>